<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.project.dto.plan.PlanRepository">
	
	<insert id="addPlan" parameterType="PlanRequestDto" >
		INSERT INTO PLAN(PLAN_START,PLAN_END,PLAN_NAME,userId)
		VALUES (#{plan_start},#{plan_end},#{plan_name},#{userId})
	</insert>
	<select id="findPlanId" parameterType="String" resultType="int">
		SELECT plan_id from plan where plan_name=#{plan_name}
	</select>
	<delete id="planDelete" parameterType="int">
		delete from plan where plan_id=#{plan_id}
	</delete>
	
	<select id="findPlanNameAnduserId" parameterType="map" resultType="Plan">
		SELECT * from plan where plan_name=#{plan_name} and userId=#{userId}
	</select>
	<!-- <select id= "findAttraction" resultType="AttractionDto" parameterType="double">
		SELECT * from attraction_info where (latitude between #{minY} and #{maxY}) and (longitude between #{minX} and #{maxX})
	</select> -->
	
	<select id="findUserId" resultType="int" parameterType="String">
	SELECT userId FROM USER WHERE userAccount=#{userAccount}
</select>
	
<insert id="addPlanUser">
		INSERT INTO invite(plan_id, userId)
		VALUES (#{planId},#{userId})
	</insert> 
	
	<insert id="addPlanPlanUser">
		INSERT INTO invite(plan_id, userId)
		VALUES (#{planId},#{userId})
	</insert> 
	
	
	<select id="getUserPlan" resultType="Integer">
		select plan_id from invite where userId=#{userId}
	</select>
	
	<select id="getUserPlanData" resultType="UserPlanList">
	select * from 
(select first_image, sido_code, gugun_code  from attraction_info where content_id in
(select content_id from planlist where plan_id =#{planId} and route_num=1 and date_num=1 )) a , plan b, 
(select count(*) as userCount from invite where plan_id=#{planId}) c,
(select count(*) as stopCount from planlist where plan_id=#{planId}) d
 where b.plan_id = #{planId};
	</select>
	
	<select id="getPlanDate" resultType="int">
	select date_num from planList where plan_id=${planId}  order by date_num desc limit 1;
	</select>
	
	<select id="getPlanDatail"  resultType="com.trip.project.dto.plan.PlanDetail">
	select planList_id, plan_id, a. content_id, route_num, date_num, pnum, content_type_id, title, addr1, first_image, latitude, longitude
from planList p join attraction_info a on p.content_id = a.content_id where plan_id=#{planId} and date_num=#{date}  order by route_num
	</select>

	<select id= "findAttraction" resultType="AttractionDto" parameterType="double">
		SELECT content_id as contentId, title, addr1 , tel, first_image as firstImage, readcount ,latitude, longitude from attraction_info where (latitude between #{minY} and #{maxY}) and (longitude between #{minX} and #{maxX})
	</select>
	<select id="getPlanOne" resultType="com.trip.project.dto.plan.Plan" >
	select * from plan where plan_id=#{planId};
	</select>
	
	<delete id="deleteInviteUser">
		delete from invite where plan_id = #{planId} and userId = #{userId}
	</delete>
	
	<select id="getPlanUser" resultType="Integer">
	        select count(*) from invite where plan_id = #{planId} and userId= #{userId}
	</select>
</mapper>
